<!-- Header area -->
@{
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}
<div id="header-wrapper" class="header-slider">
    <header class="clearfix">
        @*<div class="logo">
            <img src="img/logo.jpg" alt="" />
        </div>*@
        <div class="container">
            <div class="row">
                <div class="span12">
                    <h1>Calcutta &amp; Beyond</h1>
                    <h5 style="color:white;">
                        Like all popular tourist destinations, Calcutta (renamed Kolkata) has its share of standard itineraries, though we endeavour to add an insight to the city, its life, rich heritage and culture but if you prefer exploring the less-travelled roads, something more insightful and interesting, venture out by exploring rural Bengal and the North Eastern India.
                    </h5>
                    <div class="blankdivider30"></div>
                    <h2>We take you <strong>beyond</strong></h2>
                </div>
                
            </div>
            @*<div class="row">
                <div class="span12">
                    <div id="main-flexslider" class="flexslider">
                        <ul class="slides">
                            <li>
                                <p class="home-slide-content">
                                    <strong>Sustainable</strong> rural tourism
                                </p>
                            </li>
                            <li>
                                <p class="home-slide-content">
                                    Village and <strong>crafts</strong> tours
                                </p>
                            </li>
                            <li>
                                <p class="home-slide-content">
                                    Eco tourism with a <strong>difference</strong>
                                </p>
                            </li>
                            <li>
                                <p class="home-slide-content">
                                    <strong>Adventures</strong> in the wild
                                </p>
                            </li>
                        </ul>
                    </div>                    
                </div>
            </div>*@
        </div>
    </header>
</div>
<!-- end spacer section -->
<!-- team section -->
@Html.Partial("_Team");
<!-- end team section -->
<!-- section: services -->
@Html.Partial("_Services");
<!-- end section: services -->
<!-- section: trips -->
@*<section id="trips" class="section">
    @Html.Partial("_TripHeaders");

    <div class="container clearfix">
        <div class="aligncenter">
            <a href="/Trips" class="btn btn-large btn-theme">All trips</a>
        </div>
    </div>
</section>*@
<!-- end section: trips -->
@*testimonails*@
@Html.Partial("_TestimonialsHeader");

<!-- section: contact -->
@Html.Partial("_ContactFormGeneric");
<!-- end section: contact -->